{% extends 'parent/base.html' %}
{% load blog_tags %}
{% block title %}index{% endblock title %}
{% block header %}
<style>
    .h4{
        text-align: center;
    }
    .h4index{
        /*text-align: center;*/
        color: #ec0f0f;
        display: inline;
    }
    p{
        /*text-align: center;*/
        display: inline;
    }
</style>
{% endblock header %}
{% block content %}
<div class="h4">
<p>1</p>
<h4 class="h4index">: تعداد پست ها</h4>

<hr>
<h4 class="h4index">: تعداد کامنت ها</h4>
<p></p>
<hr>
<h4 class="h4index"> : تاریخ آخرین پست  </h4>
<p></p>
<hr>
</div></div>
{% endblock content %}