{% extends 'parent/base.html' %}
{% load blog_tags %}
{% block title %}index{% endblock title %}
{% block header %}
<style>
    .h4{
        text-align: center;
    }
    .h4index{
        /*text-align: center;*/
        color: #ec0f0f;
        display: inline;
    }
    p{
        /*text-align: center;*/
        display: inline;
    }
</style>
{% endblock header %}
{% block content %}
<div class="h4">
<p>{% tp %}</p>
<h4 class="h4index">: تعداد پست ها</h4>
    <br>
<a href="{% url 'blog:post' %}" style="text-decoration: none;" class="back-post-btn">رفتن به صفحه پست ها</a>
<hr>
    <p>{% tc %}</p>
<h4 class="h4index">: تعداد کامنت ها</h4>

<hr>
    <p>{% lp %}</p>
<h4 class="h4index"> : تاریخ آخرین پست  </h4>
<br>
<hr>
</div></div>
{% endblock content %}