{% extends 'parent/base.html' %}
{% block title %}Post lists{% endblock title %}
{% block content %}
<h1 style="text-align: center">Posts</h1>
<ol style="--length: 2; margin-bottom: 0; padding-bottom: 0;" role="list">
    {% for post in posts %}
    <li style="--i: {{forloop.counter}}">

        <a href="{{post.get_absolute_url}}" style="text-decoration: none;">
            <h3>{{ post.title }}</h3>
        </a>
        <p>{{ post.description | truncatewords:5 }}</p>
    </li>
    {% endfor %}
</ol>
<div class="pagination">
    {% include 'partials/paginator.html' with page=page_obj %}
</div>

{% endblock content %}