{% extends 'parent/base.html' %}
{% load blog_tags %}
{% block title%}
Postform
{% endblock title%}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <div>
        <form method="POST">
    {% csrf_token %}
<!--    {{ form.as_p }}-->
            <select name="author" >
                {% aut %}
            </select>
            <br>
    <label for="title">title : </label>
    <input type="text" name="title" required {% if form.title.value %} value="{{form.title.value}}"{% endif %} >
    <br>
    <label for="description">description : </label>
    <input type="text" name="description" {% if form.description.value %} value="{{form.description.value}}"{% endif %} >
    <br>

    <label for="slug">slug : </label>
    <input type="text" name="slug" {% if form.slug.value %} value="{{form.slug.value}}"{% endif %} maxlength="11">
    <br>
            <label for="reading_time">reading_time : </label>
    <input type="number" name="reading_time" {% if form.reading_time.value %} value="{{form.reading_time.value}}"{% endif %} maxlength="11">
    <br>





    <input type="submit" value="Submit">
            {% if form.errors %}
        <p >لطفا خطا های زیر را اصلاح کنید</p>
        <br>
        <p style="color: red">
            {% for field in form %}
                {% if field.errors %}
                    {% for error in field.errors %}
                        <p>{{ field.label }} : {{ error }}</p>
                     {% endfor %}
                {% endif %}
            {% endfor %}
        </p>
        {% endif %}
</form>

    </div>
</head>
<body>

</body>
</html>
{% endblock content %}