{% extends 'parent/base.html' %}
{% block title %}Ticket page{% endblock title %}
{% block content %}
<form method="POST">
    {% csrf_token %}
<!--    {{ form.as_p }}-->
    <label for="name">name : </label>
    <input type="text" name="name" >
    <br>
    <label for="email">email : </label>
    <input type="email" name="email" >
    <br>

    <label for="phone">phone : </label>
    <input type="text" name="phone" >
    <br>

    <label for="message">Text : </label>
    <textarea name="message"></textarea>
    <br>

    <select name="subject">
        <option value="گزارش">گزارش</option>
        <option value="انتقاد">انتقاد</option>
        <option value="پیشنهاد">پیشنهاد</option>
    </select>

    <input type="submit" value="Submit">
</form>
{% if form.errors %}
    <p>لطفا خطا های زیر را اصلاح کنید</p>
    <br>
    {% for field in form %}
        {% if field.errors %}
            {% for error in field.errors %}
                <p>{{ field.label }} : {{ error }}</p>
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endif %}
{% endblock content %}

