{% extends 'parent/base.html' %}
{% block title %}Ticket page{% endblock title %}
{% block content %}
<form method="POST">
    {% csrf_token %}
<!--    {{ form.as_p }}-->
    <label for="name">name : </label>
    <input type="text" name="name" required {% if form.name.value %} value="{{form.name.value}}"{% endif %} >
    <br>
    <label for="email">email : </label>
    <input type="email" name="email" {% if form.email.value %} value="{{form.email.value}}"{% endif %} >
    <br>

    <label for="phone">phone : </label>
    <input type="text" name="phone" {% if form.phone.value %} value="{{form.phone.value}}"{% endif %} maxlength="11">
    <br>

    <label for="message">Text : </label>
    <textarea name="message">{% if form.name.value %} {{form.name.value}}{% endif %}</textarea>
    <br>

    <select name="subject">
        <option value="گزارش" {% if form.subject.value %} selected {% endif %}>گزارش</option>
        <option value="انتقاد"{% if form.subject.value %} selected {% endif %}>انتقاد</option>
        <option value="پیشنهاد"{% if form.subject.value %} selected {% endif %}>پیشنهاد</option>
    </select>

    <input type="submit" value="Submit">
</form>
{% if form.errors %}
    <p>لطفا خطا های زیر را اصلاح کنید</p>
    <br>
    {% for field in form %}
        {% if field.errors %}
            {% for error in field.errors %}
                <p>{{ field.label }} : {{ error }}</p>
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endif %}
{% endblock content %}

